#nomefundo{
    font-size: 4em;
    text-decoration: dotted;
    
    text-align: center;
    color:#2C7DA0 ;
    background-color:  #012A4A;;  
}
h1{
    font-size: 4em;
    text-align: center 
}

h2{
    font-size: 2em;
}
p{

  text-align: center;
    font-style: italic;
    font-weight:lighter;
}
ul{
    font-size: 30px;
    font-style: italic;  
}
#Contato{
        
    color:#2C7DA0 ;
    background-color:  #012A4A;;
    text-align:start;
    font-size: 60px;
    text-align: center;  
}
#Sobre{
    color:#2C7DA0 ;
    background-color:  #012A4A;
    font-weight: 600;
    border-style: dotted;
    text-align: center;
    font-size: 36px;
    
    

}
body{
    
    background-color:rgb(255, 255, 252);
    backface-visibility: hidden;}


#resumovida {
    text-align: center;
    font-style: italic;
    font-weight :500px; ;
    font-size: 30px;
    

}
#nome{
    border-style: dotted;
    cursor:auto;
    padding: 15px;

}
#a{
    
    float:none;
    display: inline-block;
    padding: 23px;
    font-weight: bolder;
    background-color:#012A4A
}
#b{
    float: none;
    display: inline-block;
    padding: 23px;
    background-color:#012A4A;
}
#c{
    float: none;
    display: inline-block;
    padding: 23px;
    background-color: #012A4A;}
    
#d{
    float: none;
    display: inline-block;
    padding: 23px;
    background-color: #012A4A;
}
#e{
    float: none;
    display: inline-block;
    padding: 23px;
    background-color:#012A4A
}
#f{
    float: none;
    display: inline-block;
    padding: 23px;
    background-color:#012A4A ;
    color:rgb(189, 178, 255) ;
}
#g{
    float: none;
    display: inline-block;
    padding: 23px;
    background-color: #012A4A}
#tudo{
    font-size: 25px;
    font-style:unset;
    color:black;
    text-align: center;
    display: inline-block;
    font-size: 40px;
    border-radius: 50px;
    
    
}
a:link{
    color: #2C7DA0;
}
.habilidade{
    color:#2C7DA0 ;
    background-color:  #012A4A;;
    font-weight: 600;
    border-style: dotted;
    text-align: center;
    font-size: 40px;
    
}
#capa{
    background-color: #468FAF;
}
#foto{
    text-align: center;
    object-fit: contain;
}
.habilidades{
    
    background-color: bisque;
    font-size: 35px;
}
#Pensamento{
    text-align: center;
    background-color:gray ;
    color:black ;
   
    font-size: 35px;
}
.Persuasao{
    text-align: center;
    background-color:gray ;
    color:black ;
    font-size: 35px;
   
}
#Flexivel{
    text-align: center;
    background-color: gray;
    color: black;
  
    font-size: 35px;

}
#Autoconhecimento{
    text-align: center;
    background-color:gray ;
    color: black ;
    font-size: 35px;
}
#descriçao{
    color:#2C7DA0 ;
    background-color:  #012A4A;;
    font-weight: 600;
    text-align: center;
    font-size: 36px;
  
} body{
    background-color: #468FAF;
}
