#nomefundo{
    font-size: 4em;
    text-decoration: dotted;
    
    text-align: center;
    color:#FF3366 ;
    background-color:rgb(2255, 153, 200);
    
    
}
h1{
    font-size: 4em;
    text-align: center
   
}

h2{
    font-size: 2em;
}
p{

  text-align: center;
    font-style: italic;
    font-weight:lighter;
}
ul{
    font-size: 30px;
    font-style: italic;
   
}
#Contato{
    color:rgb(255, 153, 200);
    text-align:start;
    font-size: 60px;
    text-align: center;
    
    
}
#Sobre{
    color: black;
   background-color:  rgb(254, 228, 64);
    font-weight: 600;
    border-style: dotted;
    text-align: center;
    font-size: 36px;
    
    

}
body{
    
    background-color:rgb(255, 255, 252);
    backface-visibility: hidden;}


#resumovida {
    text-align: center;
    font-style: italic;
    font-weight:lighter;
    font-size: 30px;
    

}
#nome{
    border-style: dotted;
    cursor:auto;
    padding: 15px;

}
#a{
    
    float:none;
    display: inline-block;
    padding: 23px;
    font-weight: bolder;
    background-color:#fb5607;
}
#b{
    float: none;
    display: inline-block;
    padding: 23px;
    background-color:#8338ec;
}
#c{
    float: none;
    display: inline-block;
    padding: 23px;
    background-color: rgb(254, 228, 64);}
    
#d{
    float: none;
    display: inline-block;
    padding: 23px;
    background-color: rgb(155, 246, 255);
}
#e{
    float: none;
    display: inline-block;
    padding: 23px;
    background-color:#20A4F3
}
#f{
    float: none;
    display: inline-block;
    padding: 23px;
    background-color:#2EC4B6 ;
    color:rgb(189, 178, 255) ;
}
#g{
    float: none;
    display: inline-block;
    padding: 23px;
    background-color: #FF3366;}
#tudo{
    font-size: 25px;
    font-style:unset;
    color:black;
    text-align: center;
    display: inline-block;
    font-size: 40px;
    border-radius: 50px;
    
    
}
a:link{
    color: black;
}
.habilidade{
    background-color: rgb(155, 246, 255);
    color: black;
    font-weight: 600;
    border-style: dotted;
    text-align: center;
    font-size: 36px;
    
}
#capa{
    background-color: #011627;
}
#foto{
    text-align: center;
    object-fit: contain;
}
.habilidades{
    
    background-color: bisque;
    font-size: 30px;
}
#Pensamento{
    text-align: center;
    background-color:gray ;
    color:black ;
   
    font-size: 30px;
}
#Persuasao{
    text-align: center;
    background-color:gray ;
    color:black ;
    font-size: 30px;
   
}
#Flexivel{
    text-align: center;
    background-color: gray;
    color: black;
  
    font-size: 30px;

}
#Autoconhecimento{
    text-align: center;
    background-color:gray ;
    color: black ;
    font-size: 30px;
}
#descriçao{
    background-color:rgb(255, 255, 255); 
    color: #181817;
    font-weight: 600;
    text-align: center;
    border-style: dotted;
    font-size: 30px;
  
}
#links{
    float: none;
    display: inline-block;
    padding: 23px;
}